<title>Pickadate.js &#8226; Documentation</title>

<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="demo.css">
<link rel="stylesheet" href="pickadate.css">


<section class="holder">

    <h1><a href="../pickadate/" class="link-inherit"><strong title="Pick a Date" class="underline-highlight">pickadate.js</strong></a></h1>
    <h2>A lightweight jQuery dateinput picker</h2>

    <a href="https://github.com/you"><img width="124" height="124" style="position:absolute;top:0;right:0;border:0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <h4><a href="">Download pickadate.js</a> or <a href="https://github.com/amsul/pickadate.js">view it on Github</a></h4>

</section>


<section class="holder">

    <h3>All the options and default settings:</h3>
    <pre><code><a href="#strings">// Strings</a>
months_full: [ 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ],
months_short: [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ],
weekdays_full: [ 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' ],
weekdays_short: [ 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat' ],
month_prev: '&amp;#9664;',
month_next: '&amp;#9654;',

<a href="#date_ranges">// Date ranges</a>
date_min: true,
date_max: false,

<a href="#strings">// Display strings</a>
show_months_full: true,
show_weekdays_short: true,

<a href="#theme">// Classes</a>
class_picker_open: 'datepicker--opened',
class_picker_holder: 'datepicker--holder',
class_calendar_box: 'datepicker--calendar__box',
class_calendar: 'datepicker--calendar',
class_calendar_body: 'datepicker--calendar__body',
class_calendar_date: 'datepicker--calendar__date',
class_year: 'datepicker--year',
class_month: 'datepicker--month',
class_month_nav: 'datepicker--month__nav',
class_month_prev: 'datepicker--month__prev',
class_month_next: 'datepicker--month__next',
class_week: 'datepicker--week',
class_weekdays: 'datepicker--weekday',
class_day_disabled: 'datepicker--day__disabled',
class_day_selected: 'datepicker--day__selected',
class_day_today: 'datepicker--day__today',
class_day_infocus: 'datepicker--day__infocus',
class_day_outfocus: 'datepicker--day__outfocus',
class_box_months: 'datepicker--holder__months',
class_box_years: 'datepicker--holder__years',
class_box_weekdays: 'datepicker--holder__weekdays'</code></pre>

</section>


<section class="holder">

    <fieldset>
        <h3><strong class="underline-highlight">Simple setup</strong></h3>
        <input id="input_01" class="datepicker" type="text">
    </fieldset>

    <pre><code>$( '.datepicker' ).datepicker()</code></pre>

</section>


<section class="holder" id="strings">

    <fieldset>
        <h3><strong class="underline-highlight">Custom month and weekday tags</strong></h3>
        <input id="input_02" class="datepicker" type="text">
    </fieldset>

    <pre><code>$( '.datepicker' ).datepicker({
    month_prev: '&amp;larr;',
    month_next: '&amp;rarr;',
    weekdays_short: [ 'Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa' ],
    show_months_full: false
})</code></pre>

</section>


<section class="holder" id="date_ranges">

    <fieldset>
        <h3><strong class="underline-highlight">Minimum and maximum date range</strong></h3>
        <input id="input_04" class="datepicker" type="text">
    </fieldset>

    <pre><code>$( '.datepicker' ).datepicker({
    date_min: false,
    date_max: 5
})
</code></pre>

    <p>The default settings for <code>date_min</code> is <code>true</code> whereas <code>date_max</code> is <code>false</code>.</p>

    <p><code>date_min</code> and <code>date_max</code> can be either</p>
    <ol>
        <li>an array (format: [ YYYY, MM, DD ] )</li>
        <li>or true / false</li>
    </ol>

    <p><code>date_max</code> can also be an integer - representing the number of days till the max date.</p>

</section>


<section class="holder" id="theme">

    <style>
        .datepicker-themed {
            position: relative;
        }
        .datepicker-themed .datepicker--calendar__box {
            border: none;
            max-width: 100%;

            -webkit-box-shadow: 0 0 0 6px #e20, 0 24px 54px 18px rgba(0,0,0,.2);
               -moz-box-shadow: 0 0 0 6px #e20, 0 24px 54px 18px rgba(0,0,0,.2);
                    box-shadow: 0 0 0 6px #e20, 0 24px 54px 18px rgba(0,0,0,.2);

            -webkit-border-radius: 0;
               -moz-border-radius: 0;
                    border-radius: 0;
        }
        .datepicker-themed .datepicker--month {
            text-transform: uppercase;
            font-weight: bold;
            font-style: italic;
        }
        .datepicker-themed .datepicker--calendar__date {
            border-left: 1px solid #e20;
            border-top: 1px solid #e20;
            border-bottom: 1px solid #e20;

            -webkit-border-radius: 16px;
               -moz-border-radius: 16px;
                    border-radius: 16px;
        }
        .datepicker-themed tr:last-child .datepicker--calendar__date {
            border-bottom: 1px solid #e20;
        }
        .datepicker-themed .datepicker--calendar__date:last-child {
            border-right: 1px solid #e20;
        }
        .datepicker-themed .datepicker--day__today {
            font-weight: bold;
            color: #e20;
        }
        .datepicker-themed .datepicker--day__selected,
        .datepicker-themed .datepicker--day__infocus:hover,
        .datepicker-themed .datepicker--day__outfocus:hover,
        .datepicker-themed .datepicker--month__prev:hover,
        .datepicker-themed .datepicker--month__next:hover {
            background: #e20;
            color: #fff;
            font-weight: bold;
        }
        .datepicker-themed .datepicker--day__outfocus {
            border-color: #ccc !important;
            color: #999;
        }
        .datepicker-themed .datepicker--day__disabled,
        .datepicker-themed .datepicker--day__disabled:hover {
            border-color: #ddd !important;
            color: #bbb !important;
            background: #f5f5f5 !important;
            font-weight: 100 !important;

            -moz-opacity: .6;
                 opacity: .6;
        }
    </style>

    <fieldset class="datepicker-themed">
        <h3><strong class="underline-highlight">Themed calendar</strong></h3>
        <p>Go crazy.</p>
        <input id="input_03" class="datepicker" type="text">
    </fieldset>

    <pre><code>.datepicker-themed {
    position: relative;
}
.datepicker-themed .datepicker--calendar__box {
    border: none;
    max-width: 100%;
    box-shadow: 0 0 0 6px #e20, 0 24px 54px 18px rgba(0,0,0,.2);
    border-radius: 0;
}
.datepicker-themed .datepicker--month {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}
.datepicker-themed .datepicker--calendar__date {
    border-left: 1px solid #e20;
    border-top: 1px solid #e20;
    border-bottom: 1px solid #e20;
    border-radius: 16px;
}
.datepicker-themed tr:last-child .datepicker--calendar__date {
    border-bottom: 1px solid #e20;
}
.datepicker-themed .datepicker--calendar__date:last-child {
    border-right: 1px solid #e20;
}
.datepicker-themed .datepicker--day__today {
    font-weight: bold;
    color: #e20;
}
.datepicker-themed .datepicker--day__selected,
.datepicker-themed .datepicker--day__infocus:hover,
.datepicker-themed .datepicker--day__outfocus:hover,
.datepicker-themed .datepicker--month__prev:hover,
.datepicker-themed .datepicker--month__next:hover {
    background: #e20;
    color: #fff;
    font-weight: bold;
}
.datepicker-themed .datepicker--day__outfocus {
    border-color: #ccc !important;
    color: #999;
}
.datepicker-themed .datepicker--day__disabled,
.datepicker-themed .datepicker--day__disabled:hover {
    border-color: #ddd !important;
    color: #bbb !important;
    background: #f5f5f5 !important;
    font-weight: 100 !important;
    opacity: .6;
}</code></pre>

</section>


<section class="holder aligncenter">

    <p><a class="button-full" href="">Download pickadate.js</a></p>
    <p><a href="https://github.com/amsul/pickadate.js">View it on Github</a></p>

</section>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><small><small class="dimmed">wassup kids!</small></small>


<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="pickadate.js"></script>

<script type="text/javascript">

    $( '#input_01' ).datepicker()

    $( '#input_02' ).datepicker({
        month_prev: '&larr;',
        month_next: '&rarr;',
        weekdays_short: [ 'Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa' ],
        show_months_full: false
    })

    $( '#input_03' ).datepicker()

    $( '#input_04' ).datepicker({
        date_min: false,
        date_max: 5
    })

</script>









