/*!
 * Author:         Amsul - http://amsul.ca
 * Last Updated:   14 November, 2012
 */


/* ==========================================================================
   $CONTENTS
   ========================================================================== */

/**
 * CONTENTS................
 * NORMALIZE...............Cross browser normalization (normalize.css v2.0.1)
 * BASE....................Base stylings
 * FORM_ELEMENTS...........
 * TABLES..................
 * BUTTONS.................
 * CODE....................
 * BLOCKQUOTES.............
 *
 * HEADER..................
 *
 * GRIDS...................
 * MEDIA_QUERIES...........
 *
 * HELPERS.................Non-semantic helper classes
 * NO-JS...................Warning stylings for Disabled JS
 *
 * PRINT-QUERIES...........Media queries to make print-outs behave
 */


/* ==========================================================================
   $NORMALIZE
   ========================================================================== */

/**
 * Corrects `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/**
 * Corrects `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/**
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *   user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Removes default margin.
 */

body {
    margin: 0;
}

/**
 * Default selection background based on webkit.
 */

::-moz-selection    { background: #b3d4fc; text-shadow: none; }
::selection         { background: #b3d4fc; text-shadow: none; }

/**
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: .67em 0;
}

h2 {
    font-size: 1.5em;
    margin: .83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: .83em;
    margin: 1.67em 0;
}

h6 {
    font-size: .75em;
    margin: 2.33em 0;
}

/**
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Addresses styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Addresses styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}


/**
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    word-wrap: break-word;
}

/**
 * Sets consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Addresses inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

/**
 * Stops embedded content from overflowing container
 */
object,
embed,
img {
    max-width: 100%;
}

/**
 * 1. Removes border when inside `a` element in IE 8/9.
 * 2. Fixes down-scaled images in IE 6/7
 */

img {
    border: 0; /* 1 */
     -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Corrects overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/**
 * Addresses margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

/**
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *   and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *   `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/**
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *   (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -webkit-box-sizing: content-box; /* 2 */
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/**
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Removes inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 * 3. Allows only vertically resizing textareas.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    resize: vertical; /* 3 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}









/* ==========================================================================
   ==========================================================================
   ==========================================================================
   ========================================================================== */








/* ========================================================================
   $BASE
   ======================================================================== */

body {
    line-height: 1.4;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    height: auto;
}

a {
    text-decoration: underline;
    cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.25;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
    margin-top: .33em;
}


/* ==========================================================================
   $FORM_ELEMENTS
   ========================================================================== */

fieldset {
    border: 0;
    margin: 0 0 1.5em;
    padding: 0;
}


/**
 * Inputs and textareas
 */

input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=number],
input[type=search],
textarea {
    border: 1px solid #999;
    padding: 5px;
    width: 100%;

    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.32);
       -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.32);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.32);

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

textarea {
    min-height: 2em;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
input[type=search]:hover,
textarea:hover {

}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
textarea:focus {

}


/**
 * Radios and checkboxes
 */

input[type=checkbox],
input[type=radio] {
    margin-right: 5px;
    vertical-align: 1px;
}


/**
 * Select drop-downs and search
 */

select {
    border: 1px solid #999;
    background: #fff;
    padding: 3px 5px;
    height: 29px;
    white-space: nowrap;
}

input[type=search] {
    padding-left: 0;
    padding-right: 0;

    -webkit-border-radius: 14px;
       -moz-border-radius: 14px;
            border-radius: 14px;
}



/* ==========================================================================
   $TABLES
   ========================================================================== */

.table {
    line-height: 1.5;
    background: #fff;
    border: 1px solid #ccc;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.table th,
.table td {
    vertical-align: top;
    padding: 5px 10px;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.table th:last-child,
.table td:last-child {
    border-right: 0;
}

.table th {
    background: #f5f5f5;
    border-top: 0;
}

.table tbody tr:nth-child(even) th,
.table tbody tr:nth-child(even) td {

}


/* ==========================================================================
   $BUTTONS
   ========================================================================== */

button,
input[type=button],
input[type=reset],
input[type=submit],
.button {

}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button:hover {

}

button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
.button:focus {

}

button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active,
.button:active {

}




/* ==========================================================================
   $CODE
   ========================================================================== */

pre,
code {
    font-family: 'Monaco';
    padding: 3px 5px 3px;
    border: 1px solid #e9ebeb;
    background-color: #f5f8f8;
    font-size: .9em;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

pre {
    overflow-x: auto;
    padding: 1em;
    font-size: 1em;
}

pre > code {
    display: table;
    line-height: 1.5;
    border: 0;
    background: none;
    padding: 0 4.2em 0 0;
}




/* ==========================================================================
   $BLOCKQUOTES
   ========================================================================== */

blockquote {
    border-left: 4px solid #ddd;
    padding: 0 0 2px 14px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 200;
}
blockquote.quote-right {
    border-left: 0;
    border-right: 4px solid #ddd;
    padding-left: 0;
    padding-right: 14px;
    text-align: right;
}
blockquote p {
    margin-bottom: .5em;
}
blockquote footer {
    font-size: 12px;
    color: #999;
}
blockquote cite {
    border-bottom: 1px dotted #d2d2d2;
}






/* ==========================================================================
   $HEADER
   ========================================================================== */












/* ==========================================================================
   ==========================================================================
   ==========================================================================
   ========================================================================== */









/* ==========================================================================
   $GRIDS
   ========================================================================== */

/**
 * A row contains the columns
 */

.row {
    position: relative;
}


/**
 * A column-box is used as a gutter to the columns.
 */

.column--box {
    margin: 0 2.5%;
}


/**
 * Mobile first
 * .. just a single grid
 */






/* ==========================================================================
   $MEDIA_QUERIES
   ========================================================================== */

/**
 * 1200px min-width
 */

@media (min-width: 620px) {


    .row {
        max-width: 1200px;
        margin: 0 auto;
    }


    /**
     * 1. Set the columns to float
     * 2. Give a min-height incase column is needed for spacing
     */

    .column--one,
    .column--two,
    .column--three,
    .column--four,
    .column--five,
    .column--six,
    .column--seven,
    .column--eight,
    .column--nine,
    .column--ten,
    .column--eleven {
        float: left; /* 1 */
        min-height: 1px; /* 2 */
    }


    .column--one {
        width: 8.3333333333%; /* 1/12 */
    }

    .column--two {
        width: 16.666666667%; /* 2/12 */
    }

    .column--three {
        width: 25%; /* 3/12 */
    }

    .column--four {
        width: 33.333333333%; /* 4/12 */
    }

    .column--five {
        width: 41.666666667%; /* 5/12 */
    }

    .column--six {
        width: 50%; /* 6/12 */
    }

    .column--seven {
        width: 58.333333333%; /* 7/12 */
    }

    .column--eight {
        width: 66.666666667%; /* 8/12 */
    }

    .column--nine {
        width: 75%; /* 9/12 */
    }

    .column--ten {
        width: 83.333333333%; /* 10/12 */
    }

    .column--eleven {
        width: 91.666666667%; /* 11/12 */
    }


} /* min-width: 1200px */









/* ==========================================================================
   $HELPERS
   ========================================================================== */

.dimmed,
a.dimmed {
    color: #999;
}

.warning {
    color: #e20;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}


/**
 * Clear fix from HTML5 Boilerplate
 */

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}





/* ==========================================================================
   $NO-JS
   ========================================================================== */

#NOSCRIPT {
    background: #e20;
    color: #fff;
    padding: 10px;
}

#NOSCRIPT p {
    margin: 0;
}

#NOSCRIPT a {
    color: #fff;
}







/* ==========================================================================
   $PRINT-QUERIES
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow:none !important;
        text-shadow: none !important;
    }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}

















